<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="QuanLyBaoHiem.Properties.Settings.QuanLiBaoHiemConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QuanLiBaoHiem;Integrated Security=True" providerName="System.Data.SqlClient" />

    
  
  <add name="QLBHContext" connectionString="data source=(local)\SQLEXPRESS;initial catalog=QuanLiBaoHiem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="QLBHContextIP" connectionString="data source=116.106.36.210,1433;initial catalog=QuanLiBaoHiem;User ID=son;Password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  

  
  

  <runtime>
  

  
  

               <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  

  
  

                            <dependentAssembly>
  

  
  

                                         <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
  

  
  

                                         <bindingRedirect oldVersion="0.0.0.0-0.84.0.0" newVersion="0.84.0.0" />
  

  
  

                            </dependentAssembly>
  

  
  

               </assemblyBinding>
  

  
  

  </runtime>
</configuration>